.slider {
  margin: auto;
  position: relative;
  width: 90%;
  height: 50vh;
  display: flex;
  overflow: hidden;
  align-items: center; /* Centers the images */
}

.slide-track {
  display: flex;
  gap: 20px; /* Adds space between images */
  animation: scroll 20s linear infinite;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0; /* Prevents images from shrinking */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-100% - 20px)
    ); /* Adjusts animation based on image width */
  }
}

img {
  max-width: 60%;
  height: auto;
  object-fit: contain; /* Ensures full image visibility without distortion */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05); /* Subtle zoom effect */
}

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
